html, body{
    height: 100%;
}

.footer-col-small{
    @extend .col-md-4;
    @extend .col-sm-4;
    @extend .col-xs-12;
}

.wrap{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

.wrap > .container{
    padding-top: 70px;
}

#push, #footer{
    height: 60px;
}

#footer{
    background-color: $gray-lighter;
}

@media(max-width:767px){
    #footer{
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
        height: 120px;
    }
}

.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

.contact-list, .social-media-list{
    list-style: none;
    margin-left: 0;
}

.content-block{
    @extend .col-md-8;
    @extend .col-sm-12;
}

.post-title{
    @extend .col-md-4;
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
}