body {
    padding-top: 70px;
    padding-bottom: 70px;
}

.wrap{
    @include container-fixed();

    section{
        @include make-row();

        .content-block{
            @include make-sm-column(12);
            @include make-md-column(8);
            @include make-md-column-offset(2);
        }
    }
}

article{
    @include container-fixed();
    header{
        @include make-row();
        .post-title{
            @include make-md-column(4);
            font-size: 42px;
            letter-spacing: -1px;
            line-height: 1;
        }
        
    }
}

i {
    color: $gray-light;
}