body {
    padding-top: 70px;
    padding-bottom: 70px;
}

.wrap{
    @include make-container();

    section{
        @include make-row();

        .content-block{
            @include make-col-ready();
            @include media-breakpoint-up(xs){
                @include make-col(12);
            }
            @include media-breakpoint-up(md){
                @include make-col(8);
                @include make-col-offset(2);
            }
        }
    }
}

article{
    @include make-container();
    header{
        @include make-row();
        .post-title{
            @include make-col-ready();
            @include media-breakpoint-up(md){
                @include make-col(4);
            }
            font-size: 42px;
            letter-spacing: -1px;
            line-height: 1;
        }
        
    }
}

i {
    color: $grey-color-light;
}